body{
  text-align: center;
  font-family: helvetica,sans-serif;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
.navigation{
  font-size: 18px;
  color: white;
}
#needbg{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size:cover;
  background-position: center;
  color: white;
}
.mainhead{
  font-size: 32px;
  font-weight: bold;
}
.subhead{
  font-size: 23px;
  font-weight: bold;
}
.para{
  font-size: 14px;
}
h4{
  font-weight: bold;
  font-size: 23px;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  }
  #footer{
    background-color: dimgray;
    color: white;
    font-size: 11px;


  }
